* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* 移除下划线 */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background: #304545;
  color: hsl(0, 0%, 100%);
  width: 100px; /* 设定一个固定的宽度 */
  overflow-x: hidden; /* 防止水平滚动条出现 */
}





.sidebar ul {
  list-style: none;
  padding: 20px;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}

<!-- 选中状态
.sidebar li:hover {
  background-color: #2744b8;
}
-->

.content {
  flex: 1;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}